.selectCountry {
  font-size: 1rem;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3rem 0.2rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.countryHeading {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #ff8800;
  /* width: 73%; */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
}

.image {
  width: 45px;
  margin-left: 1rem;
}
