.selectCountry {
  font-size: 1rem;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3rem 0.2rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.container {
  width: 100%;
  margin-top: 5rem;
}

.countryHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #134074;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.image {
  width: 45px;
  margin-left: 1rem;
}

.selectCountryHeading {
  font-family: 'Open Sans', sans-serif;
  color: #134074;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .countryHeading {
    font-size: 1.5rem;
    justify-content: center;
  }
  .selectCountryHeading {
    font-size: 1rem;
  }
}
