.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  background: white;
  margin-right: 1rem;
  border-radius: 10px;
  width: 350px;
}

.content {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.count {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-family: 'Oswald', sans-serif;
}

.date {
  color: grey;
  text-align: right;
  margin: 1rem 0;
}

.detail {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.imgcontainer {
  text-align: center;
}

.image {
  width: 50px;
  margin-top: 1rem;
}
