body {
  background-color: #1a535c;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  text-align: center;
  margin: 2rem 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  color: #ff6b6b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 60px;
}

.globalheading {
  font-size: 2rem;
  color: #ffe66d;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
}

.globalHeadingContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
